@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;

}

h1 {
	font-size: 4em;
	color: #ff8c00;

}

.button {
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
	background-color: #deb887;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.button1 {
	text-decoration: none;
	background-color: #deb887;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.button2 {
	text-decoration: none;
	background-color: #d51213;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.row {
	display: flex;

}

.column {
	flex: 50%;
}

.box1 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff8c00;
	border-radius: 5px;
}

.box2 {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff8c00;
	border-radius: 5px;
}

#box3 {
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ff0000;
	border-radius: 5px;
}

#table {
	margin-top: 30px;
	border-collapse: collapse;
}

#table th {
	border: 1px solid #ff8c00;
	padding: 10px;
	text-align: left;
	background-color: #deb887;
	color: #fff;

}

#table td {
	border: 1px solid #ff8c00;
	padding: 10px;

}